@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(90grad, #C4C7F2, #4146A6);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #00051C;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #00051C;
    text-shadow: 1px 1px 1px #A7B2F2;
}
h2{
    color: #4146A6;
}
p{
    text-align: justify;
}